<link rel="stylesheet" href="css/style.css" />
<script src="js/index.js"></script>
<script src="js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>



<div id="gameplace">

	<a href="#" data-difficulty="easy">easy</a>
	<a href="#" data-difficulty="medium">medium</a>
	<a href="#" data-difficulty="hard">hard</a>

</div>

<div id="timer">0</div>
<canvas id="main" class="playfield" width=300 height=300></canvas>
<canvas id="main2" class="playfield" width=300 height=300></canvas>

<script>
	$(document).ready(function () {
		localStorage.debug = '*';
		socket = io.connect();

		socket.on('initGame', function(data){
			jQuery('#gameplace').html("Yo! You're on the left and your opponent is on the right.");
	        pid = data.id;
	        main(data.width, data.height);
		});

		jQuery('a').click(function(e){
			var selection = jQuery(this).data('difficulty');
			socket.emit('joinGame', {difficulty: selection});
			e.preventDefault();
		});
	});
</script>
