<link rel="stylesheet" href="css/style.css" />
<script src="js/index.js"></script>
<script src="js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<body onload="main()">
<div id="timer">0</div>
    <canvas id="main" class="playfield" width=300 height=300></canvas>
    <canvas id="main2" class="playfield" width=300 height=300></canvas>
</body>
