#main
{
    left: 30%;
}

.playfield
{
    position: absolute;
    margin-top: -160px;
    margin-left: -160px;
    border: 0px dotted black;
    top: 50%;
}

#timer
{  
    top: 20%;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    font-size: 20px;
    position: absolute;
}

#main2
{
    left: 70%;
}

body
{
    background-color: #eeeeee;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    cursor: url('pointer.cur');
}

